@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #9eb5e8;
    --secondary-color: #bbc9eb;
    --tertiary-color: #ffbbc3;
    --quaternary-color: #fbecf7;
}

/* GENERAL */
.munchi-logo {
    width: 50px;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
/* GENERAL */

/* * {outline: greenyellow 2px solid;} */

body {
    font-size: 16px;
    margin: 0 auto;
    font-family: 'Laila', serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    height: 70px;
}

nav h1 {
    font-size: 20px;
    padding: 25px;
}

.nav__flex_row {
    display: flex;
    align-items: center;
}

.nav__items {
    display: flex;
    justify-content: space-between;
    width: 276px;
    margin-right: 60px;
}

header a {
    text-decoration: none;
    color: black;
}

.btn-join-now {
    background-color: var(--quaternary-color);
    outline: none;
    box-shadow: none;
    margin-right: 120px;
}
/* HEADER */

/* MAIN */
main {
    flex: 1;
}

/* MAIN */

/* REGISTRATION PAGE */
.registration {
    background-color: var(--quaternary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration__container {
    padding: 39px;
}

.registration__container_form div {
    margin-bottom: 10px;
}

.registration__container_headline {
    text-align: center;
}

.registration h1 {
    margin: 0;
    padding: 0;
}

.registration__container_fullname {
    display: flex;
}

.registration__container_firstname {
    margin-right: 6px;
}

.registration__container_lastname {
    margin-left: 6px;
}

.registration__container_buttons {
    text-align: center;
    padding: 0;
    margin: 34px;
}

.registration__container_buttons a {
    color: var(--primary-color);
}
/* REGISTRATION PAGE */

/* FOOTER */
footer {
    height: 140px;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

footer div {
    text-align: center;
}

footer a {
    color: black;
    margin: 0 12.5px;
}
/* FOOTER */