:root {
    --primary-color: #9eb5e8;
    --secondary-color: #bbc9eb;
    --tertiary-color: #ffbbc3;
    --quaternary-color: #fbecf7;
}

* {outline: greenyellow 2px solid;}

body {
    font-size: 16px;
    margin: 0 auto;
}

/* HEADER */
nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    height: 70px;
}

nav h1 {
    font-size: 20px;
    padding: 25px;
}

.nav__flex_row {
    display: flex;
    align-items: center;
}

nav img {
    width: 50px;
}

.nav__items {
    display: flex;
    justify-content: space-between;
    width: 276px;
    margin-right: 60px;
}

header a {
    text-decoration: none;
}

.btn-join-now {
    background-color: var(--quaternary-color);
    outline: none;
    box-shadow: none;
    margin-right: 120px;
}
/* HEADER */