@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Laila:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #9eb5e8;
    --secondary-color: #bbc9eb;
    --tertiary-color: #ffbbc3;
    --quaternary-color: #fbecf7;
}

/* GENERAL */
.munchi-logo {
    width: 50px;
}
.hero_banner {
    height: 640px;
    overflow: hidden;
    position: relative;
}
.promotion_banner {
    position: absolute;
    width: 100%;
}
.hero_banner img {
    width: 100%;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
}
/* GENERAL */

/* * {outline: greenyellow 2px solid;} */

body {
    font-size: 16px;
    margin: 0 auto;
    font-family: 'Laila', serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    height: 70px;
}

nav h1 {
    font-size: 20px;
    padding: 25px;
}

.nav__flex_row {
    display: flex;
    align-items: center;
}

.nav__items {
    display: flex;
    justify-content: space-between;
    width: 276px;
    margin-right: 60px;
}

header a {
    text-decoration: none;
    color: black;
}

.btn-join-now {
    background-color: var(--quaternary-color);
    outline: none;
    box-shadow: none;
    margin-right: 120px;
}
/* HEADER */

/* MAIN */
main {
    flex: 1;
}

/* MAIN */

/* REGISTRATION PAGE */
.registration {
    background-color: var(--quaternary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration__container {
    padding: 39px;
}

.registration__container_form div {
    margin-bottom: 10px;
}

.registration__container_headline {
    text-align: center;
}

.registration h1 {
    margin: 0;
    padding: 0;
}

.registration__container_fullname {
    display: flex;
}

.registration__container_firstname {
    margin-right: 6px;
}

.registration__container_lastname {
    margin-left: 6px;
}

.registration__container_buttons {
    text-align: center;
    padding: 0;
    margin: 34px;
}

.registration__container_buttons a {
    color: var(--primary-color);
}
/* REGISTRATION PAGE */

/* LOGIN PAGE */
.login {
    background-color: var(--quaternary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container_form div {
    margin-bottom: 10px;
}

.login__container_headline {
    text-align: center;
}

.login__container_buttons {
    text-align: center;
    padding: 0;
    margin: 34px;
}
/* LOGIN PAGE */

/* SUBSCRIPTION PAGE */
.subscription {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription__container {
    margin: 50px;
}

.subscription h2 {
    margin: 0;
    font-size: 26px;
    align-self: center;
    margin-left: 17px;
}

.subscription__container_numbering {
    width: 46px;
    height: 46px;
}

.subscription__btn {
    background-color: var(--quaternary-color);
    color: #999;
    padding: 12px;
    border-radius: 12px;
    border: none;
}

.subscription__container_section1,
.subscription__container_section2,
.subscription__container_section3 {
    margin-bottom: 45px;
}

.subscription__container_sectiontitle {
    margin-bottom: 17px;
}

.subscription__container_boxtype {
    width: 128px;
    margin-bottom: 19px;
}
/* SUBSCRIPTION PAGE */

/* BENEFITS PAGE */
.benefits__container_content {
    text-align: center;
}
.benefits__container_content h1 {
    margin-top: 139px;
    font-family: 'Kavoon', serif;
    font-size: 56px;
}
.benefits__container_section {
    margin: 40px;
}
.benefits__container_thumbnails {
    width: 128px;
}
.benefits__container_buttons {
    margin-bottom: 157px;
}
.benefits__container_buttons img {
    width: 328px;
}
/* BENEFITS PAGE */

/* FOOTER */
footer {
    height: 140px;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

footer div {
    text-align: center;
}

footer a {
    color: black;
    margin: 0 12.5px;
}

footer img {
    width: 30px;
}
/* FOOTER */